#OS junk files
#[Tt]humbs.db
#*.DS_Store

#Code Blocks files
*.save
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
#_ReSharper*/
#*.resharper
#[Tt]est[Rr]esult*

#Project files
#[Bb]uild/

#Subversion files
#.svn

# Office Temp Files
#~$*